/** Displays programming languages */
.projects .tools {
    font-family: OCR A Std, monospace;
}

/* Literally just the word "Tools:" */
.projects .tools strong {
    
}

.tableofcontents .key-big {
    font-weight: bold;
    font-style: italic;

}

/* I guess `key-medium` and `key-small` is the same for now. */
.tableofcontents .key-medium {
    font-style: italic;

}

.tableofcontents .key-small {
    font-style: italic;
    color:#909090;
}

.tableofcontents .subcontent {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.link {}

/* For paragraph sections on the main page, `index.html` */
.mainpagesection {}

.pagetitle {
    color: black;

}

/* This is only for the title of Table of Contents */
.tableofcontents h2 {}

/* This is for the subheadings of the Table of Contents */
/* TODO */

/* This is for the hyperlinks of the Table of Contents */
/* TODO */


/* Special Tags */
.TODO {
    color: red;
    font-family: DejaVu Sans Mono, monospace;
}